# Скопируй этот файл в .env и впиши свои значения

# Токен бота от @BotFather
BOT_TOKEN=

# Твой Telegram ID (админ). Узнать у @userinfobot
ADMIN_ID=

# Telegram ID курьера. Тоже через @userinfobot
COURIER_ID=
